/auto-save-list/
/backup/
/transient/
/server/
/.emacs.desktop
/.org-id-locations
/ido.last
/custom.el
/init.el
/private.el
/savehist
/recentf
/.session
/smex-items
/projectile-bookmarks.eld
/projectile.cache
/*~
